@model ApplicationRole
@{
    ViewData["Title"] = "Delete";
}
<h1>Are You Sure to Delete This Role? </h1>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <input hidden asp-for="Id"/>

    <partial name="PartialViews/DetailsDeleteRolePartialView" />
    <input type="Submit" value="Delete" class="btn btn-danger" />|
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>

