@model ApplicationRole

@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<div>
    <partial name="PartialViews/DetailsDeleteRolePartialView" model="@Model" />
</div>
<div>
    <a asp-action="Update" asp-route-id="Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


