@model ApplicationUser
@{
    ViewData["Title"] = "Edit";

}

<h1>Update User</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Users">
            <input hidden asp-for="Id" />
             <partial name="PartialViews/CreateEditPartialView" model="@Model"/>

            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

@section Scripts {

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


}



