@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ForgetPassword">
            <input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
            <input type="submit" value="FORGET PASSWORD">
        </form>
    </div>
</div>

