@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All"></div>
            <input  asp-for="Email" type="hidden"/>
            <input  asp-for="Token" type="hidden"/>
            <input class="text" type="password" asp-for="Password" placeholder="Password" required="">
            <input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <input type="submit" value="ResetPassword">
        </form>
    </div>
</div>

